In [10]:
import pandas as pd

In [14]:
df = pd.read_csv('cities.csv')
df.set_index(['City_ID','City','Cloudiness','Country','Date','Humidity','Lat','Lng','Max Temp','Wind Speed'],inplace=True)

df.head()

Empty DataFrame
Columns: []
Index: [(0, jacareacanga, 0, BR, 1528902000, 62, -6.22, -57.76, 89.6, 6.93), (1, kaitangata, 100, NZ, 1528905304, 94, -46.28, 169.85, 42.61, 5.64), (2, goulburn, 20, AU, 1528905078, 91, -34.75, 149.72, 44.32, 10.11), (3, lata, 76, IN, 1528905305, 89, 30.78, 78.62, 59.89, 0.94), (4, chokurdakh, 0, RU, 1528905306, 88, 70.62, 147.9, 32.17, 2.95)]

In [15]:
df.to_html('cities.html')